.multiple-citys-react {
  position: relative;
  &-badge-wrapper {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 40px;
    padding: 0 10px;
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  &-badge-show-placeholder {
    color: #ccc;
    display: inline-block;
    width: 200px;
  }
}
